@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;

  background-color: var(--secondary-color);
  padding: 1rem;
}

.search {
  font-size: 1rem;
  font-family: inherit;

  color: #fff;
  background-color: transparent;
  padding: 0.5rem 1rem;

  border-radius: 50px;
  border: 2px solid var(--primary-color);
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  background-color: var(--secondary-color);
  
  margin: 1rem;
  position: relative;

  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  color: #eee;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  font-weight: bold;
  background-color: var(--primary-color);

  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.movie-info span.green {
  color: lightblue;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 2rem;
  max-height: 100%;
  background-color: #fff;

  overflow-y: auto;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
